<div class="flashcards-directory">
  <h1 class="text-center my-3">Flashcards Directory</h1>
  <!--Search bar with title and date-->
  <div class="form">
    <%= form_tag flashcards_path, method: :get do %>
      <div>
        <%= text_field_tag :search_query, @search_query, placeholder: 'Search by Title or Date' %>
      </div>
      <div>
        <%= submit_tag 'Search' %>
      </div>
    </div>
  <% end %>
  <!--flashcards-->
  <%#2.times do%>
    <%# @flashcards.each do |flashcard|%>
      <div class="maincardcontainer">
        <div class="thecard">
          <!--card front-->
          <div class="thefront" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Word</h5>
              <p class="card-subtitle mb-2 text-muted">Story Title</p>
              <h6 class="card-text">Selected Word</h6>
            </div>
          </div>
          <!--card back-->
          <div class="theback" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Word</h5>
              <h6 class="card-subtitle mb-2 text-muted">Story Title</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Return to Deck</a>
              <a href="#" class="card-link">Got it!</a>
            </div>
          </div>
        </div>
      </div>
      <%#end %>
      <%# end %>
    </div>
