<div class="test">
  <h1>Loading...</h1>
  <div class="loading-screen">
    <div class="window">
      <%= image_tag "love_death_robots.png", alt: "an old story book", class: ['animated-image'] %>
    </div>
  </div>
</div>
<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
