<h1>Form</h1>
<%= simple_form_for @story do |f| %>
  <%= f.input :username, class: "form-control", id: "exampleFormControlSelect1" %>
  <%= f.input :password, class: "form-control", id: "exampleFormControlSelect1" %>
  <%= f.button :submit %>
<% end %>
