<h1>Library</h1>
<p class="d-inline-flex gap-1">
  <button type="button" class="btn btn-primary" data-bs-toggle="button">Continue Reading</button>
   <button type="button" class="btn btn-primary" data-bs-toggle="button">Completed Stories</button>
</p>
