<body class="newstory-specific">
  <div class="container">
    <h1>Create your story</h1>
    <div id="new-story-form" class="bg-secondary bg-gradient">
      <%= render 'form' %>
    </div>
  </div>
</body>
