<body class="newstory-specific">
  <div class="story-form-container">
    <h1>Create your story</h1>
    <div id="new-story-form" class="new-story-form">
      <%= render 'form' %>
    </div>
  </div>
</body>
