<div class="story-show-page-container">
  <div class="book-div">
    <%= image_tag "old_book.png", alt: "an old story book" %>
    <h1><%= @story.title %></h1>
    <div class="story-links">
      <%= link_to 'Begin Reading', story_segment_path(@story_segment), class: ['btn', 'btn-success', 'story-link'] %>
      <%= link_to 'Back to Menu', root_path, class: ['btn', 'btn-success', 'story-link'] %>
    </div>
  </div>
</div>
