<div class="modal fade" id="definitionModal" tabindex="-1" aria-labelledby="definitionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= simple_form_for [@story_segment, Flashcard.new], url: story_segment_flashcards_path(@story_segment, paragraph: params[:paragraph]) do |f| %>
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="definitionModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.input :excerpt, as: :hidden %>
          <%= f.input :answer, as: :hidden %>
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Flashcard</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
