.loading-page {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: black;

  .loading-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .window {
      width: 200px;
      height: 200px;
      overflow: hidden;
      position: relative;

      .animated-image {
        position: absolute;
        width: 400px; /* Adjust the size to cover the entire image */
        height: 400px;
        animation: moveImage 8s linear infinite;
        object-fit: cover; /* Ensure the image covers the container */
      }
    }
  }
}

@keyframes moveImage {
  0%, 100% { transform: translate(0, 0); }
  12.5% { transform: translate(0, 0); }
  15% { transform: translate(0, 3%);
    animation-timing-function: ease;}
  18.75% { transform: translate(0, -53%);
    animation-timing-function: ease;}
  22.5% { transform: translate(0, -50%); }
  25% { transform: translate(0, -50%); }
  37.5% { transform: translate(0, -50%); }
  40% { transform: translate(3%, -50%);
    animation-timing-function: ease;}
  43.75% { transform: translate(-53%, -50%);
    animation-timing-function: ease;}
  47.5% { transform: translate(-50%, -50%); }
  50% { transform: translate(-50%, -50%); }
  62.5% { transform: translate(-50%, -50%); }
  65% { transform: translate(-50%, -53%);
    animation-timing-function: ease;}
  68.75% { transform: translate(-50%, 3%);
    animation-timing-function: ease;}
  72.5% { transform: translate(-50%, 0%); }
  75% { transform: translate(-50%, 0%); }
  87.5% { transform: translate(-50%, 0%); }
  90% { transform: translate(-53%, 0%);
    animation-timing-function: ease;}
  93.75% { transform: translate(3%, 0%);
    animation-timing-function: ease;}
  97.5% { transform: translate(0%, 0%); }
}
