.navbar-lewagon {
  justify-content: space-between;
  background: $gray;
  color: $light-gray;
}

.navbar-link {
  color: $light-gray;
  font-size: 20px;
}

.light-color {
  color: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
