.newstory-specific {
  background-image: image-url('homepage.jpg');
  background-size: cover; // Cover the entire page
  background-repeat: no-repeat;
}

h1 {
  color :white;
}

#new-story-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}
