
.story-segment-specific {
  background-image: image-url('segment.webp');
  background-size: cover; // Cover the entire page
  background-repeat: no-repeat;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0 2px; /* Adjust spacing around words as needed */
  font-size: inherit; /* Make the button text match surrounding text */
  cursor: pointer;
}

.word-btn:hover {
  text-decoration: underline; /* Optional: Highlight text on hover */
}
