.background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

}

#toggleButton {

  position: relative;

}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.story-segment-specific {
  background-color: black;
}

.d-flex {

  flex-wrap: wrap;
}

.full-height-container {
  position: relative;
  min-height: 100vh;
}

.text-container {
  position: absolute;
  bottom: 0;
  background: rgba(177, 177, 177, 0.685);
  color: white;
  padding: 20px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.2em;
  white-space: normal;
  word-wrap: break-word;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0 2px;
  font-size: inherit;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
}

.word-btn:hover {
  text-decoration: underline;
}
