.story-segment-book {
  background-image: asset_url("bookstory.png");
  background-color: black;
  flex: none;
  width: 100vw;
  height: calc(100vh - 66px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.story-row {
  display: flex;
}

.story-column-left {
  width: 50%;
  padding: 10px;

  .story-segment-text {
    margin-left: 21%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    border-radius: 10px;
    font-size: 22px;
    white-space: normal;
    word-wrap: break-word;
  }
}
.story-column-right {
  width: 50%;
  padding: 10px;
  padding-right: 13%;

  .story-segment-image img {

    margin-top: 5%;
    width: 85%;
  }

  .story-segment-image {
    width: 100%;
  }

  .choice-btn {
    white-space: normal;
    font-size: 22px;
    line-height: 1.2;
  }
}



#toggleButton {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
  z-index: 1;
}


.btn-bot {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
  z-index: 1;
}

.d-flex {
  flex-wrap: wrap;
}

.full-height-container {
  position: relative;
  min-height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0 2px;
  font-size: inherit;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.2;
}

.word-btn:hover {
  text-decoration: underline;
}
